@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&family=Ubuntu:wght@300;400&display=swap');


:root{
    --btn-color:#42672A;
    --text-color:#201f1f;
    --base-color:#DCECCF;
    --ubuntu:"Ubuntu",sans-serif;
    --lato:"Lato",sans-serif;
}

.navbar{
    background: var(--btn-color);
   position: fixed;
}
.icon{
    color: var(--btn-color);
}
.font{
    font-family:var(--lato);
}
.home{
    background: url(../images/banner.png);
    background-size: cover;
    min-height: 100vh;
}

.home a button{
    padding: 10px 40px;
    border: none;
    background: var(--btn-color);
    border-radius: 5px;
    color: var(--base-color);
}
.home a button:hover{
    color: var(--btn-color);
    border: 2px solid var(--btn-color);
    background: transparent;
}
.detail-box{
    min-height: 4rem;
    position: relative;
    margin-top: -2.5rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px rgba(168, 164, 164, 0.329);
}
.detail-box a {
    width: 3.5rem;
    height: 3.5rem;
    background:var(--base-color);
    border-radius:50px;
}

.detail-box .content{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}
.detail-box .content .card{
    text-align: center;
    padding:0 3px;
    margin: 0 auto;
    border: none;
    justify-content: space-evenly;
}
.detail-box .content .card a{
    margin: 0 auto;
}
.detail-box .content .card a i{
   margin-top:11px;
   font-size: 2rem;
   color: var(--btn-color);
}

hr {
    border: 1px dotted #ff0000;
    border-style: none none dotted; 
    color: rgb(10, 4, 4); 
    background-color: rgb(29, 17, 17);
}

/*about us */
.about .first-content .imgbx img{
    box-shadow: 1px 1px 6px 6px rgba(192, 192, 192, 0.486);
}

.about .first-content .contentbx .card{
    background:linear-gradient(180deg,#B8D8A0,transparent);
    border: none;
    font-size: .8rem;
    text-align: center;
    color: black;
}
.about .first-content .contentbx .card:nth-child(2){
    margin-left:3rem;
    }
.about .first-content .contentbx .card:nth-child(3){
margin-left: 6rem;
}
.about .first-content .contentbx .card:nth-child(4){
    margin-left: 9rem;
    }
.about .second-content h2{
    text-align: right;
    color:#70A151;
    font-size: 2.5rem;
}
.about .second-content p{
    text-align: end;
}
.about .second-content img{
    width: 100%;
margin-left: 1rem;
}
.construction h3{
    color:#70A151;
    font-size: 2.5rem;
}
.construction .row{
    justify-content: center;
}
.construction .row button{
   display: inline-block;
 margin: 0 5px;
 padding: 5px 1rem;
 border: none;
 border-radius: 50px;
 background: #CAE2B7;
 color: #201f1f;
 font-size: 15px;

}
.construction .row button:nth-child(2){
    background: #73A354;
    color: white;
}
.construction .content .card{
    width: 20rem;
    height: 25rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 1px 1px 8px 6px rgba(187, 185, 185, 0.445);
}
.construction .content .card img{
    width: 18rem;
    height: 22rem;
    margin-top: -1.5rem;
}

.construction .card a{
   
    background: rgb(29, 17, 17);
    padding:5px 20px;
    margin-left: 25%;
    margin-top: 1rem;
    background: var(--btn-color);
    color: white;
    border: none;
    
}

/*feedbabck*/

.features h3{
    color:#70A151;
    font-size: 2.5rem;
}


/*.features .content .carousel a{
    background: chartreuse;
    
    width: 2rem;
    height: 2rem;
   
}*/
.features .content{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.features .slider-one {
    min-height: 110vh;
    width: 80%;
    margin: 0 auto;
    
}
.features .slider-one img{
    height: 80vh;
    width: 100%;
   
}

.features .site-slider{
    position: relative;
 margin-top: 4rem;
}
.features .position-top{
    position: absolute;
    top: 50%;
}
.features .site-slider .slider-btn .prev,
.features .site-slider .slider-btn .next{
    background: #B8D8A0;
    padding: .5rem  1rem;
    border-radius: 10rem;
    margin:0 auto;
    color: rgb(61, 59, 59);
    top: 30%;
}
.features .right-0{
    right: 0;
}

.features .detail-box{
    min-height: 4rem;
    width:90%;
    position: relative;
    margin-top: 1rem 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px rgba(133, 130, 130, 0.329);
    margin-bottom: 5px;
}

.features .detail-box .content{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}
.features .detail-box .content .card{
    text-align: center;
    padding:0 3px;
    margin: 0 auto;
    border: none;
    justify-content: space-evenly;
}
.detail-box .content .card a{
    margin: 0 auto;
}
.detail-box .content .card a i{
   margin-top:11px;
   font-size: 2rem;
   color: var(--btn-color);
}


/*feedback style*/

.feedback h3{
    color:#70A151;
font-size: 2.5rem;
    margin: 2rem 0;
}
.feedback{
    background: #fff;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
}

.feedback .swiper-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 50px;
    
  }

  .feedback .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px;
   
  }
  .feedback .swiper-slide .card{
  box-shadow: 1px 1px 2px 2px rgba(156, 155, 155, 0.486);
  }
.swiper-slide-shadow-left,
.swiper-slide-shadow-right{
    background: none;
}






/*footer*/
footer{
    background: var(--btn-color);
}
footer .form-control::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
  }

  

  
@media only screen and (max-width: 700px) {
    .construction h1 {
    font-size:2rem;
    }
  }