*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

section{
 position: relative;
 width: 100%;
 min-height: 100vh;
 padding: 100px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 background: #161616;

}

.circle{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #e51e2a;
	clip-path: circle(70% at right -20%);
}
header{
	position: absolute;  
	top: 0;
	left: 0;
	width: 100%;
	padding:40px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo{
	position: relative;
	max-width: 150px;
}
header .navigation{
	position: relative;
	display: flex;
}
header .navigation li{
	list-style: none;
}
header .navigation li a{
	display: inline-block;
	color: #fff;
	font-weight: 500;
	text-decoration: none;
	margin-left: 40px;
}
.content{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content .textbox{
	position: relative;
	max-width: 600px;
	margin-right: 10px;
	
}
.content .textbox h2{
	color: #fff;
	font-size: 3em;
	margin-bottom: 10px;
	font-weight: 700;
	line-height: 1.4em;
}
.content .textbox p{
	color: #fff;
	font-size:.9rem;
	margin-bottom: 10px 0px;
	letter-spacing: 1.5x;
	word-spacing: 2px;


}
.content .textbox a{
	display: inline-block;
	margin-top: 20px;
	padding: 8px 20px;
	background: #e51e2a;
	color: #fff;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
}
.sco{
	position: absolute;
    bottom: 40px;
	left: 100px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.sco li{
	list-style: none;
}
.sco li a{
	display: inline-block;
	margin-left: 15px;
	background: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: 0.2s ease-in-out;
}
.sco li a:hover{
	background: #e51e2a;
	transform: translateY(-10px);
}
.sco li a img{
	filter: invert(1);
	transform: scale(0.5);
	width: 50px;
	height: 50px;
}
.swiper-container {
	      width: 100%;
	      padding-top: 50px;
	      padding-bottom: 50px;
	    }

.swiper-slide {
		      background-position: center;
		      background-size: cover;
		      width: 180px;
		      height: 500px;
		      display: flex;
		      justify-content: center;

    }

    .content .imgbx{
    	width: 500px;
    	
    	display: flex;
    	justify-content: flex-end;
    }

    .content .imgbx img{
    	max-width: 300px;
    	width: 500px;
    	
    }
   

    .swiper-container-3d .swiper-slide-shadow-left,
    .swiper-container-3d .swiper-slide-shadow-right{
    	background-image:none;
    }


    @media(max-width: 991px)
    {


    	header{
    		padding:40px;
    	}
    	section{
    		padding: 150px 40px;
    	}
    	.sco{
    		left: 40px;
    	}
    	.content{
    		flex-direction: column;
    	}
    	.content .textbox,
    	.content .imgbx{
    		max-width: 100%;
    	}
    	.swiper-slide{
    		height: 300px;
    	}

    }